@import url('https://fonts.googleapis.com/css?family=Roboto:700');


body {
    background: url(../images/dusk.png);
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #F6F000;
    cursor: default;
}

h1 {
    font-size: 3em;
    margin: .5em 0
}

h2 {
    margin: .5em auto .75em;
}

h3 {
    margin: .75em;
    font-size: 2em;
}

h5 {
    display: inline-block;
    margin: .5em;
    margin-top: .75em;
    padding: .5em;
    color: #EAF2EF;
    border: 2px solid
}

p {
    font-size: 1.5em;
    margin: .85em;
    color: #D30C7B;
}

.wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 3em;
    border: .25em groove #F6F000;
    background-color: rgba(0, 0, 0, .5);

}


#timer {
    text-align: center;
}

.container {
    text-align: center;

}

.btn {
    background-color: #EAF2EF;
    color: #393E41;
    width: 40%;
    min-width: fit-content;
    max-width: 300px;
    margin: .85em auto;
    cursor: pointer;
}

.img-wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.jack {
    position: relative;
    bottom: -2em;
}

.giphy {
    max-width: 50%;
    max-height: 200px;
}

.btn.restart {
    background-color: #40F99B;
}
